<h1>Add a New Comic to your Long Box</h1>

<%= render('layouts/errors', object: @comic) %>

<form action="/comics" method="post">
  <label for="comic_name">Title</label>
  <input id="comic_name" name="comic[name]" type="text">
  <label for="comic_issue">Issue Number</label>
  <input id="comic_issue" name="comic[issue]" type="text">
  <button>Add Comic</button>
</form>

<a href="/"><button>Home</button></a>
